$Font-Family: "League Spartan", sans-serif;
$Font-Size: 15px;
$Very-Dark-Magenta: hsl(300, 43%, 22%);
$Soft-Pink: hsl(333, 80%, 67%);
$Dark-Grayish-Magenta: hsl(303, 10%, 53%);
$Light-Grayish-Magenta: hsl(300, 24%, 96%);
$White: hsl(0, 0%, 100%);
$Path-Background-Mobile-Top: "../images/bg-pattern-top-mobile.svg";
$Path-Background-Mobile-Botton: "../images/bg-pattern-bottom-mobile.svg";
$Path-Background-Desktop-Top: "../images/bg-pattern-top-desktop.svg";
$Path-Background-Desktop-Botton: "../images/bg-pattern-bottom-desktop.svg";
